---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
      Hi, I’m Yosof — a software engineer who enjoys tackling complex problems and bringing ideas to life.
      I love creating things, whether it’s through code or behind a camera, and I’m always drawn to projects that blend creativity with purpose.
		</p>
	</div>
</PageLayout>
